/*全体枠組み*/
body{
		background: white;
		font-size: 14px;
		line-height: 20px;
	}

#all{
		width: auto;
}


/*header*/
header{
		width: auto;
		padding-top:100px; 
		padding: 0 20px;
}



header form{
		display: block;
		float: right;
		padding-top: 10px;
}


header img{
		width: 200px;
		height: 50px;
}

#botan{
		margin-bottom: 5px;
}





/*mainコンテンツ枠組み*/

section,article{
				margin-top: 20px;
				display: block;
}

article{
		padding: 5px;
		width: 500px;
		margin: 20px 0 20px 20px;
		border: 1px solid #ddd;
		border-radius: 7px;
		background-color: #f5f5f5;		
}

section{
		width:300px;
		padding-top: 15px; 
		margin: 20px 0 20px 20px;
		border: 1px solid #ddd;
		border-radius: 7px;
		background-color: #f5f5f5;
		text-align: center;
}


#footer{
		padding-top: 100px;
}

/*section 投稿*/
#main{
		display: block;
		float: left;
}

section,article div{
		clear: both;
		display: block;
}


/*list内 */


#lists{
		margin-top: 15px;
		text-align: center;
}

section li{
		display: block;
}


section a{
		color: black;
}
/* */




/*article　一覧*/

#sub{
				width: 800px;
				float: right;
}




article div{
		display: block;
		padding-top:5px; 
}

article h2{
		text-align: center;
}

article img{
		width: 60px;
		height: 60px;
		padding-top: 45px; 
}


article p{

		border-top: 1px solid black;
		margin-top:10px;
		padding-top: 50px;
}








		
		
textarea { font-family: Tahoma, sans-serif; }







/* 
	.=class   #=id
	padding:in   margin:out
*/