body{
		height: 100%;
		background-color: white;
		font-size: 14px;
		line-height: 20px;
		width: auto;
		
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    font-size:0;   
    clear: both;
    visibility:hidden;

}

.clearfix{
    display: inline-block;
}

section,article{
		clear: both;
		display: block;
}



/*   header */

header nav{
		width: auto;
		margin-top:80px;
}

header img{
		width: 200px;
		height: 50px;
}

header form{
		padding-top: 10px;
}

#botan{
		padding-bottom: 5px;
}

/*ここ！*/
section form{
		width: 250px;
		padding:10px 0 50px 25px; 
		margin: 20px 0 20px 20px;
		border: 1px solid #ddd;
		border-radius: 7px;
		background-color: #f5f5f5;
}

section button{	
		margin:10px 30px 0 0;
}

/* left lists*/
aside li,aside h2{
		display: block;
}

aside section{
		width: 250px;
		padding-top: 15px; 
		margin: 50px 0 20px 40px;
		border: 1px solid #ddd;
		border-radius: 7px;
		background-color: #f5f5f5;
		text-align: center;
}

#part1{
		margin-left: 30px;
}













/* right つぶやき */
#right{
		width: 400px;
		margin: 20px 250px 20px 0px;
		padding:0 25px 0 0px;
		border: 1px solid #ddd;
		border-radius: 7px;
		background-color: #f5f5f5;
}

/*right 投稿部分border*/
article li{
		clear: both;
		border-top: 1px solid black;				
}

article img{
		width: 60px;
		height: 60px;
		padding-top: 45px; 
}


article p{	
		text-align: center;
		margin-top:15px;
		padding-top: 50px;

}














/*zanaat部分 #right
		padding: 5px 50px 10px 5px;
*/

/*left  投稿  関係ない！！！！
section form,section textarea,section button{
		display: block;
}
*/

/*bodyにマージンを削除します。
bodyにbackground-color: white;を設定します。
@baseFontFamily, @baseFontSize, @baseLineHeightなどフォントのベース設定を行います。
@linkColor によってグローバルなリンク色を適用します。ホバーで強調する場合は:hoverを使用します。
class="pull-right"
*/

/* 
	.=class   #=id
	padding:in   margin:out
	
	<css>
  .clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
  }
  
  <html>
  <div class="container clearfix">
  <div class="boxLeft">
  <div class="boxRight">



*/

